﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Principal";
}

<h1>Plataforma IoT Mixta</h1>

<p>Plataforma de ejemplo para ISC 8vo Semestre Mixta, que sera usada en las materias de Internet de las Cosas y Taller de Programación de Dispositivos Móviles</p>


