﻿@page
@model Plataforma.Pages.Lectura.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Lecturas</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>IdDispositivo</th>
            <th>Fecha</th>
            <th>Temperatura</th>
            <th>Humedad</th>
            <th>Luminosidad</th>
            <th>Pulsos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>@item.Id</td>
            <td><a asp-page="/Dispositivo/Detalles" asp-route-id="@item.IdDispositivo">@item.IdDispositivo</a></td>
            <td>@item.FechaHora.ToShortDateString()</td>
            <td>@item.Temperatura</td>
            <td>@item.Humedad</td>
            <td>@item.Luminosidad</td>
            <td>@item.Pulsador</td>
        </tr>
        }
    </tbody>
</table>

