﻿@page
@model Plataforma.Pages.Dispositivo.AgregarModel
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Agregar</h2>

<p>Ingresa los datos del nuevo dispositivo:</p>
<form method="post">
    <div>
        <strong>Nombre:</strong><input type="text" asp-for="Item.Nombre" class="form-control" id="txbNombre" />
    </div>
    <div>
        <strong>Contraseña:</strong><input type="password" asp-for="Item.Password" class="form-control" id="txbPass" />
    </div>
    <div>
        <input id="btnGuardar" type="submit" value="Guardar" class="btn btn-primary"/>
    </div>
</form>
<a asp-page="/Dispositivo/Index"><img src="~/images/cancel.png" alt="Cancelar" />Cancelar</a>