﻿@page "{id}"
@model Plataforma.Pages.Dispositivo.DetallesModel
@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
<div class="container">
    <div class="row">
        <strong>ID:</strong>
        @Model.Dispositivo.Id
        <strong>Fecha Hora:</strong>
        @Model.Dispositivo.FechaHora.ToShortDateString()
        <strong>Nombre:</strong>
        @Model.Dispositivo.Nombre
    </div>
    <div class="row">
        <div class="Col">
            <h2>Lecturas</h2>
            <h4>Se encontraron @Model.Lecturas.Count lecturas</h4>
            <div id="myfirstchart" style="height: 250px;"></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Temperatura</th>
                        <th>Humedad</th>
                        <th>Luminosidad</th>
                        <th>Pulsaciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Lecturas)
                    {
                        <tr>
                            <td>@item.FechaHora</td>
                            <td>@item.Temperatura</td>
                            <td>@item.Humedad</td>
                            <td>@item.Luminosidad</td>
                            <td>@item.Pulsador</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="Col">
            <h2>Comandos Recibidos</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Disp. Origen</th>
                        <th>Comando</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ComandosRecibidos)
                    {
                        <tr>
                            <td>@item.FechaHora</td>
                            <td><a asp-page="/Dispositivo/Detalles" asp-route-id="@item.IdDispositivoOrigen">@item.IdDispositivoOrigen</a></td>
                            <td>@item.ComandoTexto</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="Col">
            <h2>Comandos Enviados</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Disp. Destino</th>
                        <th>Comando</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ComandosEnviados)
                    {
                        <tr>
                            <td>@item.FechaHora</td>
                            <td><a asp-page="/Dispositivo/Detalles" asp-route-id="@item.IdDispositivoDestino">@item.IdDispositivoDestino</a></td>
                            <td>@item.ComandoTexto</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    new Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'myfirstchart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
            @foreach (var item in Model.Lecturas)
            {
                @:{fecha:'@item.FechaHora', temperatura: @item.Temperatura ,humedad: @item.Humedad ,luminosidad: @item.Luminosidad,pulsos: @item.Pulsador },
            }
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'fecha',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['temperatura','humedad','luminosidad','pulsos'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Temperatura °C', 'Humedad %', 'Luminosidad', 'Pulsaciones'],
        linecolors: ['#0b62a4', '#D58665', '#37619d', '#fefefe',],
        resize: true
    });
</script>