﻿@page
@model Plataforma.Pages.Dispositivo.EditarModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

<form method="post">
    <div>
        <strong>Id:</strong><input type="text" asp-for="Item.Id" disabled class="form-control" id="txbId" />
    </div>
    <div>
        <strong>Fecha Hora:</strong><input type="text" asp-for="Item.FechaHora" disabled class="form-control" id="txbFechaHora" />
    </div>
    <div>
        <strong>Nombre:</strong><input type="text" asp-for="Item.Nombre" class="form-control" id="txbNombre" />
    </div>
    <div>
        <strong>Contraseña:</strong><input type="password" asp-for="Item.Password" class="form-control" id="txbPass" />
    </div>
    <div>
        <input id="btnGuardar" type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>
<a asp-page="/Dispositivo/Index"><img src="~/images/cancel.png" alt="Cancelar" />Cancelar</a>