﻿@page
@model Plataforma.Pages.Dispositivo.EliminarModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Realmente desea eliminar este elemento?</h3>
<div class="container">
    <div class="row">
        <strong>ID:</strong>
        @Model.Item.Id
        <strong>Fecha Hora:</strong>
        @Model.Item.FechaHora
        <strong>Nombre:</strong>
        @Model.Item.Nombre
    </div>
</div>
<form method="post">
    <input type="submit" value="Si" class="btn btn-danger"/>
</form>
<a asp-page="/Dispositivo/Index" ><img src="~/images/cancel.png" alt="Cancelar" />Cancelar</a>