﻿@page
@model Plataforma.Pages.Dispositivo.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Listado de Dispositivos</h2>
<a asp-page="/Dispositivo/Agregar"><img src="~/images/add.png" alt="Agregar" /><strong>Agregar</strong></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Modificación</th>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <a asp-page="/Dispositivo/Detalles" asp-route-id="@item.Id">@item.Id</a>
                </td>
                <td>@item.FechaHora.ToLocalTime()</td>
                <td>@item.Nombre</td>
                <td>
                    <a asp-page="/Dispositivo/Editar" asp-route-id="@item.Id"><img src="~/images/pencil.png" alt="Editar" /></a>
                </td>
                <td>
                    <a asp-page="/Dispositivo/Eliminar" asp-route-id="@item.Id"><img src="~/images/delete.png" alt="Eliminar" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="/Index" ><img src="~/images/arrow_left.png" alt="Regresar" />Regresar</a>
